body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "header header" "section aside" "footer footer";
  grid-gap: 2px;
}

@media screen and (max-width: 600px) {
  body {
    grid-template-columns: 1fr 1fr;
      grid-template-areas: "header header"
     "section section" "aside aside" "footer footer";
      grid-gap: 1em 2em;
  }
}

p {

}



header {
  background-color: red;
  grid-area: header;
}

section {
  background-color:darkblue ;
  grid-area: section;
}

aside {
  background-color: yellow;
  grid-area: aside;
}

footer {
  background-color: green;
  grid-area:footer ;
}

img#sea {
  width: 80%;
}

img#html {
  width: 80%;
}
